<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Helps - Добавление запроса</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<main class="container col-8">
  <div class="bg-light rounded p-3">
    <h2 class="display-6 fw-bold">Новый запрос</h2>
    <form method="POST">
      <div class="form-row m-2">
          <label for="title" class="fw-bold m-2">Заголовок</label>
          <input id="title" class="form-control full-width" type="text" name="title" placeholder="Заголовок запроса">

          <label for="text-content" class="fw-bold  m-2">Текст запроса</label>
          <textarea class="form-control" id="text-content" rows="8" name="text" placeholder="Текст запроса"></textarea>

          <input type="hidden" name="login" th:value="${#authentication.name}">

          <button type="submit" class="btn btn-primary mt-2" >Подать запрос</button>
      </div>
    </form>
  </div>
</main>

<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>