<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Helps - Мои запросы</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />

</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main class="container col-10">
  <div class="bg-light rounded p-3">
      <h3 class="display-6 fw-bold">Пока нет заявок</h3>
  </div>
</main>

<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>

</body>
</html>